.show-card {
    position: relative;
    width: 20%;
    min-width: 250px;
    max-width: 280px;
    aspect-ratio: 0.8;
    height: auto;
    border-radius: 5%;
    margin: 16px 1%;
}

.show-card > .show-thumbnail {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.show-card > .show-infos {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    z-index: 2;
    cursor: pointer;
    transition: .3s;
    border-radius: inherit;
    color:#fff;
}

.show-card > .show-infos:hover {
    background: linear-gradient(to top, rgba(246, 152, 28, 0.8), transparent);
}

.show-card > .show-infos > .show-title {
    font-size: 1em;
}

.show-card > .show-infos > .year-genres  {
    display: flex;
    align-items: center;
    margin-top: 4px;
    color: rgba(255,255,255, 0.7);
    font-weight: 200;
}
.show-card > .show-infos > .year-genres > .genres {
    margin-left: 8px;
    
}

.show-card > .show-infos > .rating {
    display: flex;
    align-items: center;
    margin-top: 4px;
  
}

.show-card > .show-infos > .rating > .rating-star {
  color:#f6981c;
}

.show-card > .show-infos > .rating > .rating-number {
    margin-left: 8px;
    font-size: 0.9em;
    font-weight: 500;
    color: rgba(255,255,255, 0.7);
}


@media all and (max-width: 1343px) {
    .show-card {
        min-width: 200px;
    }
}

@media all and (max-width: 768px) {
    .show-card {
        margin: 16px 1.5%;
    }
}


@media all and (max-width: 580px) {
    .show-card {
        width: 90%;
        max-width: 300px;
        margin: 16px 1.5%;
    }
}