.search-result {
    width: 100%;
    height: 100%;
    padding: 48px 64px;
    background-image: url('../../images/closeup-shot-white-bowl-with-popping-pop-corn-out-it-dark-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.search-result > .search-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-result > .search-box > form {
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.search-result > .search-box > form > .loading-spinner {
    font-size: 1.8em;
    color: #f6981c;
    margin-left: 16px;
}
.search-result > .search-box > form > .search-input-container {
    width: 40%;
    margin-left: 32px;
}

.search-result .search-box .app-logo {
    font-size: 2em;
}

.search-result .shows-list  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 48px 0px; 
    flex: 1;
    margin-top: 16px;
 
}
@media all and (max-width: 1366px) {
    .search-result > .search-box > form > .search-input-container {
        width: 70%;
    }
}

@media all and (max-width: 1152px) {
    .search-result > .search-box > form > .search-input-container {
        width: 90%;
    }
}

@media all and (max-width: 768px) {
    .search-result {
        padding: 48px 16px;
    }
    .search-result > .search-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .search-result > .search-box > form {
        width: 100%;
    }
    .search-result > .search-box > form > .search-input-container {
        width: 100%;
        margin-left: 0;
        margin-top: 32px;
    }
}